# Ignore Docker files to avoid invalidating the cache:
Dockerfile
docker-compose.yml
docker-compose.override.yml
.dockerignore

# Ignore dotenv files
**/*.env
!**/*.env.example
!**/*example*.env

# Ignore composer vendor directory:
vendor

# Ignore the node_modules directory:
node_modules

# Ignore git files
.git
.gitattributes
.gitconfig
.gitignore

# Ignore compiled css/js files
/public/css
/public/js

# Ignore tmp
tmp/*
